{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "usage", //babel 编绎的时候不用整个 polyfills , 只加载使用 polyfills，可以减少包的大小。 
        "modules": false, // 对ES6的模块文件不做转化，以便使用tree shaking、sideEffects等
        "targets": {
          "chrome": "58",
          "ie": "11"
        },
        "corejs": {
          "version": 3, // 使用core-js@3
          "proposals": true
        }
      }
    ],
    "@babel/preset-react",
    "@babel/preset-typescript"
  ],
  "env": {
    "development": {
      "plugins": [
        "react-hot-loader/babel"
      ]
    },
    "test": {
      "plugins": [
        "@babel/plugin-transform-modules-commonjs"
      ]
    }
  },
  "plugins": [
    [
      "@babel/plugin-transform-runtime",
      {
        "corejs": 3, // 解决了之前无法实例方法的窘况，同时也保持了不污染全局空间
        "helpers": true, // 默认，可以不写
        "regenerator": false, // 通过 preset-env 已经使用了全局的 regeneratorRuntime, 不再需要 transform-runtime 提供的 不污染全局的 regeneratorRuntime
        "useESModules": false // 使用 es modules helpers, 减少 commonJS 语法代码, 如改为true， jest无法工作
      }
    ],
    [
      "@babel/plugin-proposal-decorators",
      {
        "legacy": true
      }
    ],
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-optional-chaining"
  ]
}